*, *::before, *::after {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(to right, #010803, #292654);
    
}

.main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 1100px;
    margin: 0 auto;
}

#settings {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

button {
    border-radius: 1em;
    padding: 16px;
    background-color: burlywood;
    color: darkblue;
    font-weight: bolder;
}

.grid-wrap {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 660px;
    max-width: 660px;
    margin-top: 60px;

}

.grid-main {
    display: inline-grid;
    width: 600px;
    height: 600px;
    margin: 20px 20px;
    cursor: crosshair;
    
  }

  .grid-main > div {
      border: 1px solid black;
      padding: 16px;
  }